body {
	background:url(../images/system/test.jpg) no-repeat center center fixed;
	background-size:cover;
}

.jumbotron {
	background: rgba(0, 0, 0, 0.5);
}

h2 {
	color: black;		
}

.jumbotron h5 {
	color: #dbbba0;
  	margin: 0 auto;
}

.jumbotron h2 {
	color: #af947c;	
}