body {
	background:url(../images/system/test.jpg) no-repeat center center fixed;
	background-size:cover;
}

.main_form {
	margin-top: 15vh;
}


#myVideo {
	position: fixed;
	left: 0;
	bottom: -100px;
	min-width: 100%;
	min-height: 100%;
	z-index: -2;
}

input {
	border-style: solid;
	background: rgba(0, 0, 0, 0);
	color: white;
	outline: none;
	text-align: center;
}

.jumbotron ::placeholder{
	text-align: center;
	font-style: italic;
	color: white;
}

label {
	color: white;
}

h2 {
	color: white;	
}


.jumbotron h5 {
	color: #dbbba0;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid #dbbba0; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: 
	typing 3.5s steps(60, end),
	blink-caret .75s step-end infinite;
}

.jumbotron h2 {
	color: #af947c;	
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
}

.form-icon{
	width: 1rem;
	height: 1rem;
	color: white;
}

#new_genres_list{
	height: 200px;
	min-width: 180px;
	overflow-y: scroll;
}