img.profile_type {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#edit_name_button,
#confirm_edit_name_button,
#cancel_edit_name_button,
#edit_bio_button,
#confirm_edit_bio_button,
#cancel_edit_bio_button{
    cursor: pointer;
}

div#skills_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

div#profile_card {
    width: 202px;
}

img.profile_image {

    width: 250px;
    height: 250px;
    border-radius:4%;

}

div#bios ul {
    display: flex;
    padding: 0;
    list-style: none;
}

div#bios li {
    margin-right: 15px;
    text-decoration: underline;
}

div#profile_pic_div {
    text-align: center;
}

@media(max-width: 991px) {

    div.jumbotron {
        border-radius: 0;
    }

    div#username{

        text-align: center;

    }

    div#profile_pic_div {
        justify-content: center !important;
        text-align: center;
    }

}



