body {
	background:url(../images/system/test.jpg) no-repeat center center fixed;
	background-size:cover;
}

.jumbotron {
	background: rgba(0, 0, 0, 0.5);
}

h2 {
	color: black;		
}

.jumbotron h5 {
	color: #dbbba0;
	/*overflow: hidden; /* Ensures the content is not revealed until the animation */
  	/*border-right: .15em solid #dbbba0; /* The typwriter cursor */
  	/*white-space: nowrap; /* Keeps the content on a single line */
  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /*	animation: 
    typing 3.5s steps(60, end),
    blink-caret .75s step-end infinite;*/
}

.jumbotron h2 {
	color: #af947c;	
}

/*@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}*/


.switch {
  position: relative;
  display: inline-block;
  width: 2.2rem;
  height: 1.2rem;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.2rem;
  bottom: 0.1rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0.8rem);
  -ms-transform: translateX(0.8rem);
  transform: translateX(0.8rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.2rem;
}

.slider.round:before {
  border-radius: 50%;
}