div#chat {
    position: fixed;
    height: 90vh;
    right: 0;
    overflow-y: scroll;
}

div#chat::-webkit-scrollbar {
    width: 0 !important;
}

div.chats {
    height: 30vh;
    overflow-y: scroll;
}

div.chats::-webkit-scrollbar {
    width: 0 !important;
}

textarea#chat_msg {
    resize: none;
    color: black;
    font-size: 0.8em;
    outline: none;
    box-shadow: none;
}

@media(max-width:767px) {

    div.chats {
        height: 65vh;
        overflow-y: scroll;
    }
}



div.chat_dropdown {
    cursor: pointer;
}

span.status-dot {
    font-size: 0.6em;
}
