.background-image {
    background: url(../images/users/example-user.jpg);
    height: 800px;
    width: 100%;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    filter: opacity(40%) blur(4px);
    z-index: -1;
}

.profile-page{
    position: relative;
}

.profile-card{
    position:absolute;
    top:0;
    left: 60px;
}

#skills{
    color: ivory;
}

.edit-icon{
    cursor: pointer; 
}