#register{
    text-align: center;
}

body {
	background:url(../images/system/test.jpg) no-repeat;
	padding-top:100px;
	background-size:cover;
}

.jumbotron {
	background: rgba(0, 0, 0, 0.3);
}

input {
	border-style: solid;
	border-width: 20px !important;
	background: rgba(0, 0, 0, 0);
	color: #dbbba0;
}

::placeholder{
	color: #dbbba0;
}

label {
	color: white;
}

h2 {
	color: white;	
}


.jumbotron h5 {
	color: #dbbba0;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	border-right: .15em solid #dbbba0; /* The typwriter cursor */
  	white-space: nowrap; /* Keeps the content on a single line */
  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  	animation: 
    typing 3.5s steps(60, end),
    blink-caret .75s step-end infinite;
}

.jumbotron h2 {
	color: #af947c;	
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}