div#mybands,
div#fellowmusicians {
  font-size: 0.8em;
}

#postbutton {
  display: none;
}

div#mybands button{
  font-size: 0.8em;
}

div#leftfeedmenu {
  position: fixed;
  height: 100%;
  left: 0;
  top:10vh;
}

div#main {
  margin-top: 11vh;
}

textarea#new_post_ta, textarea#new_comment_ta{
  resize: none;
  color: black;
  font-size: 0.8em;
  outline: none;
  box-shadow: none;
}

#btns {
  height: 100%;
}

@media(min-width: 768px) {
  div#main {
    width: 94%;
  }

  div#center_content {
    display: block;
  }


}

@media(max-width:767px) {

  div#main {
    margin-top: 16vh;
  }

  #floatingmenu {
    position: fixed;
    top: 10vh;
    z-index: 1000;
  }

  input#toggleleft {
    opacity: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 10;
  }

  input#toggleleft ~ svg {
    position: relative;
    top:-3px;
    left: -20px;
    z-index: -1;
  }

  div#leftmenu {
    position: absolute;
    width: 250px;
    left: -250px;
    top: 30px;
    /* max-height: 0; */
    /* left: 0; */
    z-index: 10;
    transition: transform 0.2s linear;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }

  input#toggleleft:checked ~ div {

    transform: translate(100%,0);

  }

  div#leftmenu > ul {
    padding: 0 0 0 5px;
  }

  div#leftmenu > ul > li > ul {
    padding: 0 0 0 10px;
  }

  div#leftmenu > ul li {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 5px;
  }

  div#leftmenu p {
    margin: 0;
    display: inline;
  }

  div.post {
    border-radius: 0;
  }

  div#new_post {
    border-radius: 0;
  }

  

}

  body::-webkit-scrollbar {
    width: 0 !important;
}


