.profile-page{
    position: relative;
}

/* .profile-card{
    position:absolute;
    top:0;
    left: 40px;
} */

#skills{
    color: ivory;
}

.edit-icon{
    cursor: pointer; 
}


.user-post-img {
    object-fit: cover;
    width: 50px;
    height: 50px;
}


.post-img {
    width: 100%;
}

.carousel-img{
    height: 100px;
    width: 200px;
    overflow: hidden;
}